{% if wrap %}
	<{{ wrap }} {% if wrapClass %}class="{{ wrapClass }}"{% endif %}>
{% endif %}
{% if element == 'a' %}
<a
		href="{{ href }}"
		{% if title %}title="{{ title }}"{% endif %}
		{% if id %}id="{{ id }}"{% endif %}
		class="dpl-button
			{% if class %} {{ class }}{% endif %}
			{% if colour %}bg-{{ colour }}{% endif %}
			{% if labelColour %}color-{{ labelColour }}{% endif %}"
>
{% elseif element == 'button' %}
<button
		{% if title %}title="{{ title }}"{% endif %}
		{% if id %}id="{{ id }}"{% endif %}
		{% if type %}type="{{ type }}"{% endif %}
		class="dpl-button{% if class %} {{ class }}{% endif %}"
>
{% endif %}
	{{ label }}
{% if element == 'button' %}
</button>
{% elseif element == 'a' %}
</a>
{% endif %}
{% if wrap %}
	</{{ wrap }}>
{% endif %}