<div class="dpl-profile-slide wrapspace {% if avatarAlign %}avatar-{{ avatarAlign }}{% endif %}">
    <div class="container">
        <div class="row">
            <div class="columns 12">
                <div class="profile-slide__wrapper">
                    <div class="profile-slide__avatar">
                        <div class="profile-slide__avatar-wrapper">
                            <img src="{{ avatar }}" alt="{{ title }}" />
                        </div>
                    </div>
                    <div class="profile-slide__content">
                        {% if title %}
                            <div class="profile-slide__title">
                                {{ title }}
                            </div>
                        {% endif %}
                        {% if subtitle %}
                            <div class="profile-slide__subtitle">
                                {{ subtitle }}
                            </div>
                        {% endif %}
                        {% if description %}
                            <div class="profile-slide__description">
                                {{ description }}
                            </div>
                        {% endif %}
                        {% if buttonHref %}
                            {% include "@patterns/button/button.twig" with {
                                element : "a",
                                label : buttonLabel,
                                href : buttonHref
                            } %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
